*{
    margin:0px;
    padding:0px;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.subscription{
    border:2px solid black;
    padding:15px;
    width:700px;
    height:300px;
}
.bor{
    background-color: rgb(177, 177, 177);
    
}
h1{
    padding-bottom: 10px;
}
h2,p{
    padding-left: 7px;
    padding-bottom: 10px;

}
input[type=text],
input[type=email]{
    margin: 7px;
    width:680px;
    padding:2px 0px 3px 3px;
    border: 1px solid black;
}
.box{
    margin:2px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 2px;
    background-color: white;
}
button{
    margin-top: 5px;
    width:650px;
    padding:5px;
    border-radius: 7px;
    background-color: rgb(20, 203, 20);
    border:0px;
    margin-left: 25px;
    margin-bottom: 10px;
}
button:hover{
    background-color: rgb(141, 177, 165);
}
label{
    margin-left: 5px;
}
input[type=checkbox]{
    margin-left: 5px;
}